<div class="hero">
    <h1>Potencia tus Neuronas</h1>
    <p>Conéctate a cursos que transformarán tu mente y acelerarán tu aprendizaje.</p>
    <a class="cta-button" routerLink="/inscribirse">¡Inscríbete Ahora!</a>
</div>

<section class="features">
    <h2>¿Por qué Elegirnos?</h2>
    <div class="feature">
        <h3>Conexión Inmediata</h3>
        <p>Acceso instantáneo a materiales y recursos que impulsarán tu conocimiento.</p>
    </div>
    <div class="feature">
        <h3>Velocidad de Aprendizaje</h3>
        <p>Metodologías innovadoras que aceleran tu proceso de aprendizaje.</p>
    </div>
    <div class="feature">
        <h3>Comunidad Dinámica</h3>
        <p>Únete a una comunidad vibrante de aprendices como tú.</p>
    </div>
</section>

